# [TC_PATH];[TC_DOWNLOAD_URL]
faust.txt;https://github.com/xxsds/sdsl-lite/raw/refs/heads/master/test/test_cases/faust.txt.tar.gz
#zarathustra.txt;http://algo2.iti.kit.edu/gog/sdsl/zarathustra.txt.tar.gz
moby.int;https://github.com/xxsds/sdsl-lite/raw/refs/heads/master/test/test_cases/moby.int.tar.gz
